<!--En el momento que carga angualar artista no existe por lo que para que fucnione le decimos que haga esto si existe solo-->
<!--Angular esperara a que le lleguen todos los datos y ya no arrojará ningun error-->
<section class="container animated fadeIn fast mt-5" *ngIf="artista">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circle">
      <br>
    </div>
    <div class="col-md-9">
      <h3>{{artista.name}} <small>Popularidad {{artista.popularity}}</small></h3>
      <hr>
      <a [href]="artista.external_urls?.spotify" class="btn btn-sm btn-outline-success">Ver página</a>
      <a [routerLink]="['/search']" class="btn btn-sm btn-outline-danger">Volver a buscador</a>
    </div>
  </div>
</section>

<section class="container mt-5" *ngIf="pistas">
  <h3>Top de {{artista.name}}</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Foto</th>
              <th>Canción</th>
              <th>Popularidad</th>
              <th>Preview</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pista of pistas; let i = index;" >
              <td>{{ i + 1}}</td>
              <td>
                <img [src]="pista.album?.images | sinfoto" alt="" class="img-fluid rounded mx-auto img-small" >
              </td>
              <td>{{pista.name}}</td>
              <td>{{pista.popularity}}</td>
              <td>
                <!--<audio controls>
                  <source [src]="pista.preview_url">
                  Tu navegador está obsoleto actualiza para poder ver este contenido
                </audio>-->
                <!--<iframe [src]="pista.uri | domseguro:'https://embed.spotify.com/?uri='" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>-->
                <iframe [src]="pista.uri | domseguro: 'https://embed.spotify.com/?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
